* {
    background: #151218;
    on-background: #e8e0e8;
    primary: #d9bafa;
    on-primary: #3d245a;
    secondary: #cfc1da;
    on-secondary: #362d40;
    tertiary: #f2b7c0;
    on-tertiary: #4b252c;
    error: #ffb4ab;
    on-error: #690005;
}